html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #eee;
}

main {
  height: 100%;
}

.picker {
  position: absolute;

  height: 100%;
  width: 20em;

  background-color: #ddd;

  border-right: 3px solid #ccc;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;    
}

.ham, .cheese {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;

  height: 80px;
  width: 80px;
}

.ham {
  border-radius: 40px;
  background-color: #ee9988;
}

.cheese {
  margin-top: 5em;

  background-color: #e4ce51;
}

.draggable-ham, .draggable-cheese {
  position: absolute;
  z-index: 9;

  height: 80px;
  width: 80px;

  cursor: move;
}

.draggable-ham {
  border-radius: 40px;
  background-color: #ee9988;
}

.draggable-cheese {
  background-color: #e4ce51;
}

.scheme {
  height: 100%;
  width: 100%;
}

canvas {
  height: 100%;
  width: 100%;
}
